/*NABIDKA*/

.nabidka__text {
	text-align: center;
	color: black;
	margin: 20px;
}

.nabidka__img {
	display: none;
}

@media screen and (min-width: 600px) {
	.nabidka__flex {
		display: flex;
		justify-content: space-evenly;
	}

	
	.nabidka__img {
		display: block;
		text-align: center;
		border: 3px solid white;
		margin: 20px;
	}
}
