@use 'barvy';
@use 'zaklad';
@use 'hlavicka';
@use 'menu';
@use 'hlavni';
@use 'paticka'



/* ------------------------------------- */

.menu__checkbox {
	position: absolute;
	left: -9999px;
	/*to samé jako display: none;*/
}

.menu__toggler {
	cursor: pointer;
}

.menu__list {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: tomato;
}

.menu__item {
	border-bottom: 1px solid white;
}

.menu__link {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: white;
}

.menu__link:hover {
	background-color: rgb(199, 67, 43);
}

@media screen and (max-width: 799px) {

	.menu__checkbox:checked ~ .menu__list {
		display: block;
	}
}

@media screen and (min-width: 800px) {
	
	.menu__toggler {
		display: none;
	}

	.menu__list {
		display: flex;
	}

	.menu__item {
		border-bottom: 0;
		border-right: 1px solid white;
	}
}