<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pekárna Velim, pekárna ve Velimi, Pekárna Krále Jiřího, cukrárna Velim, makronky Velim">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="obsah">

        <div class="logo"><h1>Pekárna Krále Jiřího</h1></div>

        <nav class="menu">

            <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
            <label for="menu-checkbox" class="menu__toggler">☰</label>

            <ul class="menu__list">
                <li class="menu__item"><a class="menu__link" href="/">Úvod</a></li>
                <li class="menu__item"><a class="menu__link" href="/onas">O nás</a></li>
                <li class="menu__item"><a class="menu__link" href="/nabidka">Nabídka</a></li>
                <li class="menu__item"><a class="menu__link" href="/kontakt">Kontakt</a></li>
            </ul>

        </nav>

        <main>

            {{ content | safe }}

        </main>

        <footer class="footer">
            &copy;Pekárna Krále Jiřího
        </footer>
    </div>
</body>
</html>